*
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
header
{
    background-color: #0A0A22;
    color: white;
    padding: 20px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #FBB346;
}
main
{
    padding: 10px;
}
section
{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
img
{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}