* {
    margin: 0;
    padding: 0;
}
header {
    color: white;
    background-color: darkcyan;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px 20px;
    height: 10%;

    div {
        color: white;
        display: flex;
        align-items: center;
        padding: 15px 0;
        border-bottom: 5px solid blue;
    }
    h1 {
        padding: 0 20px;
    }
    nav {
        ul {
            display: flex;
            list-style-type: none;

            a {
                color: white;
                text-decoration: none;
                padding: 20px;
                
                &:hover {
                        color: darken(white, 30%);
                    }
            }
        }
    }
}
main {
    display: flex;
    justify-content: space-around;
    min-height: 56vh;
    background-color: ghostwhite;
    padding: 30px 0;
    div {
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        height: 45vh;
        img {
            width: 250px;
        }
        h3, p, small {
            padding: 20px 10px;
        }
    }
}
footer
{
    padding-left: 20px;
    color: white;
    min-height: 10vh;
    display: flex;
    align-items: center;
    background-color: darkcyan;
}
