/* Reset y fuente global */
* 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Fondo principal de la página */
body 
{
    background-color: gainsboro;
}
/* Header con barra superior con logo y menú, elementos alineados horizontalmente y centrados verticalmente */
header 
{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    color: white;
    height: 50px;
}
/* Menú horizontal con efecto al tener el cursor en un enlace */
header li 
{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
header li a 
{
    text-decoration: none;
    color: whitesmoke;
}
header li a:hover 
{
    color: rgb(80, 80, 80);
}
/* Título principal del header */
header h1 
{
    font-size: 30px;
    color: white;
}
/* Main flotante a la izquierda para permitir aside a la derecha */
main 
{
    padding: 30px 0 0 150px;
    float: left;
}
/* Bloques de contenido con fondo blanco y bordes redondeados */
section 
{
    padding: 40px 30px;
    background-color: white;
    border-radius: 10px;
}
section h2 
{
    color: #354A60;
}
section p 
{
    padding: 10px 0;
}
/* Clase entradas para tener un contenedor flexible de artículos horizontales */
.entradas 
{
    background-color: gainsboro;
    display: flex;
    gap: 20px;
}
.entradas article 
{
    background-color: white;
    padding: 40px 15px;
    border-radius: 5px;
}
.entradas article h4 
{
    padding-bottom: 20px;
}
/* Aside flotante a la derecha, con secciones internas y altura fija */
aside 
{
    float: right;
    margin: 30px 250px 0 0;
}
aside section 
{
    background-color: #ECF0F1;
    padding: 0 20px;
    height: 425px;
}
aside h3 
{
    color: #45A3DF;
    padding: 30px 0;
}
aside p 
{
    padding: 0;
}
/* Línea horizontal con separación */
hr 
{
    margin: 20px 10px;
}
/* Footer centrado */
footer 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 80px;
    background-color: #2C3E50;
    clear: both;
}
