*
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A0A22;
    height: 200px;
    padding: 20px;
    border-bottom: 3px solid #FBB346;
}
#titulo
{
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#gato_logo
{
    height: 70px;
    width: 80px;
    border-radius: 50px;
}
nav ul
{
    list-style-type: none;
}
nav ul li a
{
    color: whitesmoke;
    text-decoration: none;
}
main
{
    padding: 10px;
}
section
{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
img
{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
