body{
    margin:0;
    padding:0;
    text-align: center;
    background-color:azure;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke;
}

header{
    background-color: rgb(223, 209, 193);
    height:60px;
   
}

header h1{
text-align:left;
    float:left;
    width:50%;
}

header nav ul li{
    float:left;
    padding:10px;
    margin-top:20px;
   
}

main{
    width: 90%;
    background-color: #faebd7;
    height:125px;
    margin:0 auto;
    
}

.contenido{
    background-color:pink;
    float:left;
    width:100%;
    height: 500pxpx;
    margin-top:12px;  
}

#contenido1{
    border: 1px solid black;
    height: 150px;
}

#contenido1 img{
    width:100px;
    height:100px;
    float:left;
}

#contenido2{
    border: 1px solid black;
    height:100px;
}
#parrafo1{
    width:33%;
    float:left;
}
#parrafo2{
    width:100px;
    height:100px;
    float:left;
    margin:0 30px;
}


#parrafo3{
    float:left;
    width:33%;
}

#contenido3{
    border: 1px solid black;
    height:100px;
}
#contenido3 p{
    width:33%;
    float:left;
}
#contenido3 img{
    width:100px;
    height:100px;
    float:left;
}

#contenido4 img{
    width:100px;
    height:100px;
    float:left;
}

#contenido4 p{
    float:left;
    width:33%;
}
footer{
    clear:both;
    background-color:rgb(246, 39, 201);
    height:160px;
}

figure img{
    width: 50px;
    display:block;
}

#section1{
    width:33%;
    background-color:aliceblue;
    float:left;
}

#section2{
    width:33%;
    float:left;
}

#section3{
    width:33%;
    float:left;
}

