* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0 40px;
}

nav {
    margin: 40px 0;
}

a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 30px;
    border-top: 5px solid black;
    transition: box-shadow 1s;
}

#enlace1 {
    box-shadow: inset 0 0 0 0 orange;
    border-color: orange;
}

#enlace1:hover {
    box-shadow: inset 0 100px 0 0 orange;
}

#enlace2 {
    box-shadow: inset 0 0 0 0 green;
    border-color: green;
}

#enlace2:hover {
    box-shadow: inset 0 100px 0 0 green;
}

#enlace3 {
    box-shadow: inset 0 0 0 0 darkred;
    border-color: darkred;
}

#enlace3:hover {
    box-shadow: inset 0 100px 0 0 darkred;
}

#enlace4 {
    box-shadow: inset 0 0 0 0 purple;
    border-color: purple;
}

#enlace4:hover {
    box-shadow: inset 0 100px 0 0 purple;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

section {
    display: flex;
    gap: 40px;
}

article {
    position: relative;    
    width: 180px;
    height: 180px;
}
img
{
    position: absolute;
    left: 50%;
    transition: transform 1s, width 1s;
    width: 200px;
}
img:hover
{
    width: 1000px;
    transform: translateX(-50%);
}