* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0 40px;
}

nav {
    margin: 40px 0;
}

a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 30px;
    border-top: 5px solid black;
    transition: box-shadow 1s;
}

#enlace1 {
    box-shadow: inset 0 0 0 0 orange;
    border-color: orange;
}

#enlace1:hover {
    box-shadow: inset 0 100px 0 0 orange;
}

#enlace2 {
    box-shadow: inset 0 0 0 0 green;
    border-color: green;
}

#enlace2:hover {
    box-shadow: inset 0 100px 0 0 green;
}

#enlace3 {
    box-shadow: inset 0 0 0 0 darkred;
    border-color: darkred;
}

#enlace3:hover {
    box-shadow: inset 0 100px 0 0 darkred;
}

#enlace4 {
    box-shadow: inset 0 0 0 0 purple;
    border-color: purple;
}

#enlace4:hover 
{
    box-shadow: inset 0 100px 0 0 purple;
}

main 
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

section 
{
    display: flex;
    gap: 40px;
}

article 
{
    color: white;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.caja1 
{
    background-color: #C0392B;
}

.caja1:hover 
{
    transform: scale(1.5);
}

.caja2 
{
    background-color: #9B59B6;
}

.caja2:hover 
{
    transform: rotate(60deg);
}

.caja3 
{
    background-color: #2980B9;
}

.caja3:hover 
{
    transform: translate(20px, 20px);
}

.caja4 {
    background-color: #3498DB;
}

.caja4:hover 
{
    transform: skewX(-25deg) skewY(-25deg);
}

.caja5 {
    background-color: #17A589;
}

.caja5:hover 
{
    transform: skewY(-25deg);
}

.caja6 {
    background-color: #F1C40F;
}

.caja6:hover 
{
    transform: skewX(-25deg);
}

.caja7 {
    background-color: #E67E22;
}

.caja7:hover 
{
    transform: translateX(20px);
}

.caja8 {
    background-color: #95A5A6;
}

.caja8:hover 
{
    transform: translateY(20px);
}

.caja9 {
    background-color: #2C3E50;
}

.caja9:hover 
{
    transform: perspective(600px) rotateY(60deg);
}

.caja10 {
    background-color: grey;
}

.caja10:hover 
{
    transform: perspective(600px) rotateX(60deg);
}

.caja11 {
    background-color: #000000;
}

.caja11:hover 
{
    transform: matrix(1.00066, 1.00066, -1.00066, 1.00066, 150, 2);
}