// Importamos las fuentes que usaremos
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap');

// Variables de colores de la paleta
$color-header: rgba(25, 25, 25, 0.9);
$color-li: rgba(25, 25, 25, 0.95);
$color-cv: rgba(25, 25, 25, 0.4);

// Gradiente para botones
$gradiente-button: linear-gradient(90deg, #30C5D2 0%, #471069 50%, #30C5D2 100%);

// Fuentes para texto y títulos
$fuente-texto: 'DM Sans', sans-serif;
$fuente-titulo: 'Space Grotesk', sans-serif;

// Colores para sombras y bordes
$color-sombra-default: rgba(25, 25, 25, 0.5);
$color-sombra-cyan: rgba(0, 255, 255, 0.7);

$color-borde-main: rgba(205, 205, 205, 0.1);
$color-borde-tarjeta-claro: rgba(255, 255, 255, 0.2);
$color-borde-tarjeta-oscuro: rgba(25, 25, 25, 0.3);

// Colores de fondo
$color-fondo: #133058;
$color-radial-fondo: radial-gradient(circle at center, rgb(170, 72, 250, 0.35) 60%, rgb(41, 95, 172, 0.5) 90%);
$color-fondo-cv: rgb(40, 82, 139, 0.65);
$color-fondo-tarjetas: rgba(25, 25, 25, 0.5);
$color-fondo-tarjeta-claro: rgba(255, 255, 255, 0.1);
$color-fondo-tarjeta-oscuro: rgba(25, 25, 25, 0.5);

// Imagen de fondo para el body
$imagen-fondo: url("../img/fondo.jpg");

// Mixins para transicion soportando varias navegadores
@mixin transition($property, $duration, $timing: ease-in-out) {
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

// Mixin para animaciones soportando varias navegadores
@mixin animation($name, $duration, $timing: ease-in-out, $fill: forwards) {
    -webkit-animation: $name $duration $timing $fill;
    -moz-animation: $name $duration $timing $fill;
    -o-animation: $name $duration $timing $fill;
    animation: $name $duration $timing $fill;
}

// Mixin para efecto de ruido usando un filtro SVG usando como fondo en un pseudo-elemento ::after
@mixin efecto-ruido($opacity: 0.5, $mode: overlay) {
    // la posición en relativo es necesaria para que el pseudo-elemento ::after se posicione correctamente 
    position: relative;

    // el overflow hidden es necesario para que el pseudo-elemento ::after no se salga del contenedor
    overflow: hidden;

    // usamos un pseudoe-elemento ::after para colocar el efecto de ruido sobre el fondo y no sobre el contenido
    &::after {
        // el contenido vacío es necesario para que el pseudo-elemento se muestre
        content: "";
        
        // la posición absoluta es necesaria para que el pseudo-elemento se coloque sobre el fondo
        position: absolute;

        // inset == top, right, bottom, left a 0 para que el pseudo-elemento ocupe todo el espacio del contenedor
        inset: 0;

        // el z-index hace que el pseudo-elemento se coloque por debajo del contenido pero por encima del fondo
        z-index: 1;

        // el background-image con un filtro SVG de ruido fractal crea el efecto de ruido
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='1'/%3E%3C/svg%3E");

        // el background-size controla el tamaño del patrón de ruido, un valor más pequeño hace que el ruido sea más denso, mientras que un valor más grande lo hace más disperso
        background-size: 100px;

        // repetimos el ruido y establecemos la opacidad para ajustarlo a nuestro diseño
        opacity: $opacity;

        // el mix-blend-mode controla cómo se mezcla el pseudo-elemento con el fondo, 
        // el modo overlay mejora como se ve el ruido sobre fondos oscuros
        mix-blend-mode: $mode;

        // pointer-events none hace que se pueda seguir interactuando con el contenido debajo del pseudo-elemento
        pointer-events: none;
    }
}

// Mixin para aplicar un efecto de desenfoque usando backdrop-filter con soporte para navegadores
@mixin desenfoque($blur) {
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
}

// Mixin para aplicar estilos responsivos según el tamaño de pantalla
@mixin responsive($size) {
    @if $size ==medium {
        @media (max-width: 1024px) {
            @content
        }
    }

    @else if $size ==small {
        @media (max-width: 800px) {
            @content
        }
    }
}

// Animación para el efecto futurista en los botones (movimiento del gradiente de izquierda a derecha)
// Para esto jugamos con la propiedad background-position del gradiente, 
// moviéndolo de 0% a -200% para crear un efecto de desplazamiento continuo
@keyframes efecto-futurista {

    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: -200% 50%;
    }
}

// Estilos globales
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    // Aplicamos un color de fondo por defecto si la imagen no carga
    background-color: $color-fondo;
    background-image: $imagen-fondo;

    // Padding para separar el contenido de los bordes de la ventana
    padding: 50px;

    // Bajamos el padding para el responsive
    @include responsive(medium) {
        padding: 20px;
    }

    header>nav {
        // Aplicamos margenes, bordes redondeados, un fondo semitransparente, y una fuente para el header
        margin: 50px 30px;
        border-radius: 200px;
        background-color: $color-header;
        font-family: $fuente-titulo;

        // Usamos flexbox para distribuir los elementos del header con espacio entre ellos y alineados verticalmente
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;

        // position fixed para que el header permanezca en pantalla y z-index para que esté por encima de los elementos
        position: fixed;
        width: 91%;
        top: 10px;
        z-index: 100;

        // Aplicamos el desenfoque en el header
        @include desenfoque(3px);

        // Bajamos el ancho, cambiamos la dirección a columna, y ajustamos los margenes para el responsive
        @include responsive(medium) {
            width: 95%;
            margin: 20px 10px;
            flex-direction: column;
            gap: 20px;
            border-radius: 20px;
            padding: 15px;
            position: relative;
            top: 0;
        }
    
        div {
            // Usamos flexbox para alinear los elementos del header, y ajustamos la dirección a columna para el responsive
            display: flex;
            align-items: center;
            font-size: large;

            @include responsive(medium) {
                flex-direction: column;
                width: 100%;
                gap: 20px;
            }

            // Estilos para el logo del header
            img[alt="Logo Página"] {
                padding-left: 20px;
                width: 150px;
                
                // transform scale para aumentar el tamaño del logo sin afectar a su tamaño real
                // display block para evitar que el espacio debajo del logo afecte al layout, ya que por defecto las imágenes son inline
                display: block;
                transform: scale(1.5);

                @include responsive(medium) {
                    padding-left: 0;
                    margin-bottom: 10px;
                }
            }

            // Estilos para el menú de navegación sin contar el contenido del dropdown
            ul:not(.dropdown-content) {
                display: flex;
                padding: 0 50px;
                gap: 40px;
                list-style-type: none;

                @include responsive(medium) {
                    padding: 0;
                    gap: 15px;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                }

                .dropdown {
                    // posicion relativa para que el contenido del dropdown
                    position: relative;

                    .dropdown-content {
                        list-style-type: none;

                        // posicion absoluta para colocar el contenido del dropdown debajo del elemento padre
                        position: absolute;

                        // centramos el dropdown horizontalmente usando top
                        // transform translate para darle efecto de desplazamiento al momento de animarlo
                        top: 100%;
                        transform: translate(-50px);

                        // width max-content para que el dropdown se ajuste al contenido
                        // y min-width para evitar que sea demasiado pequeño
                        width: max-content;
                        min-width: 200px;

                        background-color: $color-li;
                        border-radius: 20px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                        opacity: 0;

                        // visibility hidden para que el dropdown no sea interactivo ni visible cuando no se está mostrando
                        visibility: hidden;

                        // aplicamos transicion para animar el dropdown al mostrarlo y ocultarlo
                        // usamos cubic-bezier para darle un efecto de aceleración y desaceleración más suave de forma más específica que con ease
                        @include transition(all, 0.3s, cubic-bezier(0.4, 0, 0.2, 1));

                        @include responsive(medium) {
                            // posicion static para que el dropdown vuelva a ser parte del contenido del body
                            position: static;

                            width: 100%;
                            display: none;
                            margin-top: 10px;
                        }


                        li {
                            border-radius: 20px;

                            a 
                            {
                                display: block;
                                padding: 30px;
                                text-decoration: none;
                            }
                        }
                    }

                    &:hover {
                        .dropdown-content {
                            // Al hacer hover en el elemento padre, mostramos el dropdown cambiando su opacidad y visibilidad
                            opacity: 1;
                            visibility: visible;

                            // Aplicamos translateY para posicionar bien el elemento y sobreescribir el transform anterior
                            transform: translateY(20px);

                            @include responsive(medium) {
                                display: block;
                            }

                            li {
                                @include transition(background-color, 0.3s);
                                border-radius: 20px;

                                &:hover {
                                    background-color: lighten($color-header, 10%);
                                }
                            }
                        }
                    }
                }

                // Aplicamos le estilo solamente a la lista principal
                a:not(.dropdown-content a) {
                    text-decoration: none;

                    // Usamos background-ímage para crear una línea debajo del texto que se animará al hacer hover
                    background-image: linear-gradient(white, white);

                    // Ajustamos la línea en el centro horizontalmente y justo debajo del texto
                    background-position: center 100%;
                    
                    //Le quitamos la repetición para que solo aparezca esa línea
                    background-repeat: no-repeat;

                    // Especificamos su tamaño, esto es similar al border: 1px solid white
                    // por defecto no se mostrará
                    background-size: 0% 1px;

                    // Aplicamos transición para animar la línea
                    @include transition(background-size, 0.3s, ease-in-out);

                    li {
                        text-align: center;
                        padding: 30px;

                        @include responsive(medium) {
                            padding: 15px;
                        }
                    }

                    &:hover {
                        // Al hacer hover, animamos la línea aumentando su tamaño al 80% del ancho del texto    
                        background-size: 80% 1px;
                    }
                }
            }

            li.language {
                cursor: pointer;

                .dropdown-content {
                    
                    top: 50%;
                    width: max-content;
                    min-width: 200px;

                    a {
                        text-decoration: none;
                    }

                    @include responsive(medium) {
                        top: 0;
                        width: 100%;
                    }

                    li {
                        padding: 30px;

                        a {
                            // Para el caso del menú de idiomas, quitamos la animación de la línea
                            background-image: none;
                        }
                    }
                }
            }

            #svg_language {
                padding-right: 20px;
            }

            button {
                padding: 10px;
                margin: 0 20px;
                width: 170px;
                border-radius: 25px;
                // Quitamos el borde por defecto del botón
                border: transparent;

                // Usamos un gradiente como fondo del botón, usamos background-image nuevamente
                // Para aplicar la animación, ya que con simplemente background no se aplicaría correctamente
                background-image: $gradiente-button;

                // Ajustamos el tamaño del fondo para que el gradiente se pueda animar correctamente
                // El gradiente estará formado de 3 colores para que el efecto de la animación sea más fluida
                background-size: 200% auto;

                font-family: $fuente-titulo;
                font-weight: bold;

                @include transition(all, 0.5s);

                @include responsive(medium) {
                    margin: 20px 0;
                    width: 100%;
                    max-width: 300px;
                }

                &:hover {
                    background-position: 100% center;
                    border: $color-sombra-cyan 2px solid;
                    box-shadow: 0 0 8px $color-sombra-cyan;

                    cursor: pointer;

                    // Aplicamos la animación del gradiente para que se mueva de izquierda a derecha al hacer hover
                    @include animation(efecto-futurista, 1.3s, ease);

                    // Lo escalamos un poco para dar sensación de interactividad
                    transform: scale(1.05);
                }
            }
        }
    }

    >div {
        border: 1px solid $color-borde-main;
        background: $color-radial-fondo;
        border-radius: 10px;
        box-shadow: 15px -10px 15px 0px $color-sombra-default;

        // Aplicamos el efecto de ruido y y desenfoque al contenedor para que se vea el fondo desenfocado
        @include efecto-ruido();
        @include desenfoque(10px);

        main {
            #subir-curriculum {
                padding: 150px 50px;
                background-color: $color-fondo-cv;
                font-family: $fuente-titulo;

                display: flex;
                justify-content: center;
                align-items: center;

                text-align: center;
                gap: 20px;

                @include responsive(medium) {
                    flex-direction: column;
                    padding: 50px 20px;
                }

                h1, h3 {
                    padding: 5px 0;
                }

                h5 {
                    padding-top: 15px;
                }

                article:last-child {
                    background-color: $color-cv;
                    border-radius: 10px;
                    padding: 50px;
                    margin-left: 60px;

                    box-shadow: 0px 6px 5px $color-sombra-default;

                    @include desenfoque(2px);

                    @include responsive(medium) {
                        margin-left: 0;
                        width: 100%;
                        padding: 30px;
                    }

                    div:not(.prompt-container) {
                        // Aplicamos un borde discontinuo en el contenedor del formulario
                        border: 1px dashed white;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;

                        label {
                            cursor: pointer;
                            padding: 100px 50px;

                            @include responsive(medium) {
                                padding: 50px 20px;
                            }

                        }

                        @include transition(all, 0.2s, ease-out);

                        &:hover {
                            transform: scale(1.02);
                        }


                    }

                    .prompt-container {
                        position: relative;
                        width: 500px;
                        margin-top: 30px;
                        display: flex;

                        @include responsive(medium) {
                            width: 100%;
                            flex-direction: column;
                            gap: 15px;
                        }

                        #prompt {
                            width: 81%;
                            padding: 10px;

                            border-radius: 20px 0 0 20px;
                            border: lighten($color-cv, 50%) 2px solid;
                            background-color: $color-cv;

                            box-shadow: 2px 5px 13px -4px black;

                            font-family: $fuente-titulo;
                            font-size: 15px;

                            @include responsive(medium) {
                                width: 100%;
                                border-radius: 20px;
                                padding: 15px;
                            }

                            @include transition(all, 0.1s);

                            &::placeholder {
                                color: lighten($color-cv, 60%);
                                padding-left: 55px;

                                @include responsive(medium) {
                                    padding-left: 0;
                                    text-align: center;
                                }
                            }

                            &:focus {
                                // Eliminamos al hacer focus la línea por defecto del button
                                outline: none;

                                // Aplicamos un borde y sombra cian, esto da estilo neón al input
                                border: $color-sombra-cyan 2px solid;
                                box-shadow: 0 0 8px $color-sombra-cyan;
                            }
                        }

                        #submit {
                            // El botón de envío lo posicionamos al lado derecho dando un efecto de botón integrado con el input
                            position: absolute;
                            right: 0;
                            top: 50%;

                            // Usamos transform translate para centrar el botón verticalmente respecto al input
                            transform: translateY(-50%);

                            width: 20%;
                            height: 45px;
                            border-radius: 0 20px 20px 0;

                            // Quitamos el borde por defecto del botón
                            border: transparent;

                            // Hacemos el mismo proceso que con el botón de inicio de sesión del header
                            background-image: $gradiente-button;
                            background-size: 200% auto;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            font-size: 15px;
                            font-weight: bold;
                            font-family: $fuente-titulo;

                            cursor: pointer;

                            @include responsive(medium) {
                                // En dispositivos móviles, le devolvemos el comportamiento normal 
                                // y le quitamos el transform para que se muestre debajo del input y no al lado 
                                position: static;
                                transform: none;
                                width: 100%;
                                border-radius: 20px;
                            }

                            @include transition(all, 0.2s);

                            &:hover {
                                background-color: $color-sombra-cyan;
                                box-shadow: 0 0 8px $color-sombra-cyan;

                                // Aplicamos la animación del gradiente para que se mueva de izquierda a derecha al hacer hover

                                @include animation(efecto-futurista, 1.3s, ease);
                            }
                        }
                    }
                }
            }

            #tarjetas {
                background-color: $color-fondo-tarjetas;
                display: flex;
                flex-direction: column;
                gap: 100px;
                padding: 100px;

                @include responsive(medium) {
                    padding: 50px 20px;
                    gap: 50px;
                }

                #tarjeta1,
                #tarjeta2 {

                    display: flex;
                    justify-content: space-between;
                    border-radius: 15px;
                    background-color: $color-fondo-tarjeta-claro;
                    box-shadow: 10px 8px 5px $color-sombra-default;
                    border: 2px solid $color-borde-tarjeta-claro;

                    @include responsive(medium) {
                        flex-direction: column;
                        align-items: center;
                    }

                    div {
                        padding: 50px;

                        @include responsive(medium) {
                            padding: 30px;
                            text-align: center;
                        }

                        h2 {
                            font-family: $fuente-titulo;
                            font-size: 30px;
                            padding-bottom: 75px;

                            @include responsive(medium) {
                                padding-bottom: 30px;
                            }
                        }

                        p {
                            font-family: $fuente-texto;
                            padding: 10px;
                            line-height: 1.5;
                        }
                    }

                    img {
                        border-radius: 15px;
                        width: 600px;
                        height: 600px;

                        @include responsive(medium) {
                            width: 100%;
                            height: auto;
                            max-width: 400px;
                            margin: 20px;
                        }
                    }
                }

                #tarjeta2 {
                    background-color: $color-fondo-tarjeta-oscuro;
                    border: 2px solid $color-borde-tarjeta-oscuro;

                    img {
                        width: 700px;
                        height: 700px;

                        @include responsive(medium) {
                            width: 100%;
                            height: auto;
                            max-width: 400px;
                            margin: 20px;
                        }
                    }
                }

                hr {
                    border: 1px solid $color-borde-tarjeta-claro;
                }
            }

            // Para la sección de "bento-grid" usamos display grid para crear una tabla estilo bento 
            // con diferentes áreas para cada tarjeta, esto nos permite crear un diseño más dinámico
            #bento-grid {
                padding: 100px;

                // Aplicamos display grid
                display: grid;
                gap: 25px;

                // Definimos el tamaño de las columnas (izquierda tamaño nartural y derecha un poco más grande)
                grid-template-columns: 1fr 1.5fr;

                // Definimos las áreas de la grid para colocar cada tarjeta en su lugar 
                // esto nos da mucha flexibilidad para crear un diseño más dinámico
                // Repetimos el nombre si queremos que ocupen varias filas o columnas
                grid-template-areas:
                    "area-gratis area-bigdata"
                    "area-gratis area-inferencia"
                    "area-datos  area-datos";

                @include responsive(medium) {
                    padding: 50px 20px;

                    // Para el modelo responsive, devolvemos a un diseño de una sola columna
                    // y devolvemos un orden lógico a las áreas para eliminar el diseño bento
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        "area-gratis"
                        "area-bigdata"
                        "area-inferencia"
                        "area-datos";
                }

                article {
                    background-color: $color-fondo-tarjeta-oscuro;
                    border-radius: 15px;
                    box-shadow: 10px 8px 5px $color-sombra-default;
                    border: 2px solid $color-borde-tarjeta-oscuro;

                    display: flex;
                    flex-direction: column;

                    h2 {
                        font-family: $fuente-titulo;
                        font-size: 25px;
                        padding: 10px 20px;
                    }

                    p {
                        font-family: $fuente-texto;
                        padding: 10px 30px 30px 30px;
                    }

                    div {
                        display: flex;
                        align-items: center;

                        img {
                            width: 100px;
                            height: 100px;

                            // Para las imágenes de esta sección, las escalamos un poco para que se vean más pequeñas 
                            // y encajen mejor en el diseño
                            transform: scale(0.5);
                        }
                    }
                }

                // Asignamos cada tarjeta a su área correspondiente usando grid-area 
                // y el nombre definido en grid-template-areas
                .gratuito {
                    grid-area: area-gratis;
                }

                .bigdata {
                    grid-area: area-bigdata;
                }

                .inferencia {
                    grid-area: area-inferencia;
                }

                .datos {
                    grid-area: area-datos;
                }
            }
        }

        footer {
            margin: 100px 0 30px 0;

            @include responsive(medium) {
                margin: 50px 0 20px 0;
            }

            article:first-child {
                padding-left: 100px;
                display: flex;

                // Alineamos el contenido al inicio verticalmente y centrado horizontalmente
                align-items: flex-start;
                justify-content: center;
                gap: 200px;

                @include responsive(medium) {
                    padding-left: 0;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }

                img {
                    width: 25px;
                    
                    // Usamos de nuevo el truco de transform scale para aumentar el tamaño del logo sin afectar a su tamaño real
                    transform: scale(5) translateX(-10px);
                    padding-top: 1px;

                    @include responsive(medium) {
                        gap: 0;
                        transform: scale(5) translate(0, 25px);
                        margin-bottom: 30px;
                        margin-right: 0;
                    }
                }

                .mapa-web {
                    display: flex;
                    gap: 100px;

                    @include responsive(medium) {
                        flex-direction: column;
                        gap: 30px;
                    }

                    .columna {
                        display: flex;
                        flex-direction: column;

                        h4 {
                            font-family: $fuente-titulo;
                            padding-bottom: 15px;
                        }

                        a {
                            text-decoration: none;
                            font-family: $fuente-texto;
                            padding: 15px 0;

                            @include transition(all, 0.3s);

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            hr {
                margin: 30px 80px;
                border: 1px solid $color-borde-tarjeta-claro;
            }

            article:last-child {
                padding: 0 80px;
                font-family: $fuente-texto;

                display: flex;
                justify-content: space-between;

                @include responsive(medium) {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                }

                div {
                    a {
                        text-decoration: none;

                        svg {
                            width: 25px;

                            @include transition(transform, 0.3s);

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }

                    a:nth-child(1) {
                        svg {
                            transform: scale(1.3);

                            @include transition(transform, 0.3s);

                            &:hover {
                                transform: scale(1.5);
                            }
                        }
                    }

                    a:nth-child(3) {
                        svg {
                            transform: scale(0.9);

                            @include transition(transform, 0.3s);

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }

                    a:nth-child(4) {
                        img {
                            width: 20px;
                            transform: scale(1.2);

                            @include transition(transform, 0.3s);

                            &:hover {
                                transform: scale(1.4);
                            }
                        }
                    }
                }
            }
        }
    }
}