*
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a
{
    text-decoration: none;
}
header
{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
    height: 70px;
}
header h2
{
    padding: 20px;
    float: left;
}
header ul
{
    padding: 10px;
    float: right;
    display: flex;
    gap: 20px;
    list-style-type: none;
}
header a
{
    color: black;
    padding: 10px;
}
header a:hover
{
    background-color: black;
    border-radius: 5px;
    color: white;
}
main section:first-child
{
    clear: both;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
}
#seccion1 h3, #seccion1 p
{
    padding: 10px;
}
#seccion1 button
{
    margin: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
#seccion1 button:hover
{
    background-color: #e6e6e6;
    color: black;
}
#seccion2 
{
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    height: 500px;
    text-align: center;
}
#seccion2 article *
{
    margin: 10px 10px;
}
#seccion2 article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    width: 400px;
    height: 400px;
}
#seccion2 h3
{
    margin: 10px 25px;
}
#seccion2 form
{
    text-align: left;
}
#seccion2 input
{
    width: 350px;
    height: 30px;
    border-radius: 3px;
}
#seccion2 input:not([type="button"])
{
    
    display: block;
    border: 2px solid black;
}
#seccion2 input[type="button"]
{
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    width: 360px;
}
#seccion2 input[type="button"]:hover
{
    background-color: #f9f9f9;
    color: black;
}
footer
{
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    background-color: black;
    color: white;
}
footer h2
{
    padding-top: 50px;
    padding-bottom: 30px;
}
footer a
{
    color: white;
}