
*
{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-image: url("../img/Imagen 2.jpg");
}
header
{
    h1 
    {
        text-align: center;

        padding: 20px;

        img
        {
            width: 60px;
        }
    }
    nav
    {
        background-image: url("../img/Imagen\ 5.jpg");
        padding: 10px 0;
        height: 50px;
        
        ul {
                display: flex;
                list-style-type: none;
                align-items: center;
                justify-content: center;
        
                li {
                    padding: 0 20px;

                    a {
                        text-decoration: none;
                        background-color: white;
                        color: black;

                        img
                        {
                            width: 20px;
                        }
                    }
                }
            }
    }
}
main
{
    background-color: black;
    text-align: center;
    height: 740px;

    h2
    {
        padding: 40px 0;
    }
    img
    {
        width: 800px;
    }
}
footer
{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p
    {
        background-color: black;
    }
    img
    {
        background-color: white;

        width: 50px;
    }
}