@mixin animation($name, $duration, $timing: linear) {
    -webkit-animation: $name $duration $timing;
    -moz-animation: $name $duration $timing;
    -o-animation: $name $duration $timing;
    animation: $name $duration $timing;
}

@keyframes animacion_inicial {
    from {
        transform: scale(-100px);
    }
    to {
        transform: scale(0px);
    }
}

body
{
    @include animation(animacion_inicial, 0.3s);
}
header
{
    text-align: center;
    padding-top: 50px;
}

main
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem 2rem;
    justify-content: center;
    padding: 100px;

    a
    {
        text-decoration: none;

        article {
            text-align: center;
        }
    }
    
}