@mixin animation($name, $duration, $timing: linear) {
    -webkit-animation: $name $duration $timing;
    -moz-animation: $name $duration $timing;
    -o-animation: $name $duration $timing;
    animation: $name $duration $timing;
}
@mixin transition($name, $duration, $timing: linear) {
    -webkit-animation: $name $duration $timing;
    -moz-animation: $name $duration $timing;
    -o-animation: $name $duration $timing;
    transition: $name $duration $timing;
}

@keyframes animacion_inicial {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body
{
    @include animation(animacion_inicial, 0.7s);

    background-image: url("../img/menu/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
header
{
    text-align: center;
    padding-top: 50px;
    color: white;
}

main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 100px;
    margin: 0 auto;
    
    a {
        text-decoration: none;

        flex: 0 1 30%;

        article {
            text-align: center;
            border-radius: 10px;
            background-color: white;

            @include transition(transform, 0.3s, ease-out);

            &:hover
            {
                transform: scale(1.1);
            }
            img
            {
                width: 70px;
                padding: 30px 0;
            }
            h3
            {
                padding: 0;
                margin-top: 0;
            }
        }
    }
}