@use 'variables' as *;
@use 'mixins' as *;

#menu-lateral {
    position: fixed;
    top: 0;
    right: 0;

    width: 350px;
    height: 100vh;

    background: $color-fondo-tarjeta-oscuro;

    @include desenfoque(10px);

    transform: translateX(100%);

    @include transition(transform, 0.3s, ease-in-out);

    z-index: 1001;
    padding: 48px 32px;
    border-left: 2px solid $color-borde-tarjeta;

    &.menu-visible {
        transform: translateX(0);
    }


    .btn-cerrar {
        background: none;
        border: none;
        color: white;
        font-size: 32px;

        cursor: pointer;

        position: absolute;
        top: 32px;
        right: 32px;

        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        @include transition(all, 0.3s);

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            transform: rotate(90deg);
        }
    }

    nav {
        margin-top: 80px;

        ul {
            list-style: none;
            padding: 0;



            li:not(.buscador) {
                margin: 32px 0;
                transform: translateX(0);

                @include transition(transform, 0.3s);

                &:hover {
                    transform: translateX(10px);
                }

                a,
                span {
                    color: white;
                    text-decoration: none;

                    font-size: 24px;
                    font-family: $fuente-secundaria;

                    padding: 8px 0;

                    cursor: pointer;
                }

                span::after {
                    content: ' ⏷';
                }

                ul {
                    padding-left: 20px;
                    margin-top: 10px;
                    max-height: 0;

                    overflow: hidden;

                    @include transition(max-height, 0.4s, ease-in-out);

                    li {
                        margin: 16px 0;

                        @include transition(all, 0.3s);

                        a {
                            font-size: 18px;
                            font-family: $fuente-principal;

                            color: rgba(255, 255, 255, 0.8);
                            padding: 5px 0;

                            &:hover {
                                padding-left: 5px;
                            }
                        }

                        &:hover {
                            transform: translateX(5px);
                        }
                    }
                }

                &.dropdown-abierto {
                    span::after {
                        content: ' ⏶';
                    }

                    ul {
                        max-height: 500px;
                    }
                }
            }

            .buscador {
                position: relative;

                label {
                    display: none;
                }

                input {
                    width: 84%;
                    padding: 10px;
                    border-radius: 5px;
                    border: 2px solid $color-borde-tarjeta;

                    background-color: $color-fondo-tarjeta-claro;
                    color: white;

                    font-family: $fuente-secundaria;

                    &:focus {
                        outline: none;
                    }
                }

                .btn-buscar {
                    position: absolute;
                    top: 0;
                    right: 0;

                    background: black;
                    padding: 0;
                    height: 45px;
                    width: 50px;

                    border-radius: 0 5px 5px 0;
                    border: 2px solid $color-borde-tarjeta;

                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                        @include transition(transform, 0.3s);
                    }

                    @include transition(all, 0.3s);

                    &:hover {
                        svg {
                            transform: scale(1.2);
                        }

                        background-color: lighten(black, 5%);
                    }
                }
            }
        }
    }
}

#overlay {
    position: fixed;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;

    pointer-events: none;

    @include transition(opacity, 0.4s);
    z-index: 1000;

    &.overlay-visible {
        opacity: 1;
        pointer-events: all;
    }
}