@use "variables" as *;
@use "mixins" as *;

footer {
    font-size: 18px;
    scroll-snap-align: start;
    min-height: 10vh;
    padding: 50px;

    article:first-child {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        div {
            display: flex;
            padding: 5px 0 20px 30px;
            gap: 60px;

            div {
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    font-size: 14px;
                    font-family: $fuente-secundaria;
                    list-style: none;
                    padding: 5px 0 5px 5px;
                    @include transition(transform, 0.3s);

                    a {
                        text-decoration: none;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    article:last-child {
        display: flex;
        justify-content: space-between;
        font-family: $fuente-secundaria;
        padding-top: 20px;

        div {
            position: relative;
            top: -60px;


            a {
                text-decoration: none;

                svg {
                    width: 25px;
                    @include transition(transform, 0.3s);

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            a:nth-child(1) svg {
                transform: scale(1.3);
                @include transition(transform, 0.3s);

                &:hover {
                    transform: scale(1.5);
                }
            }

            a:nth-child(3) svg {
                transform: scale(0.9);
                @include transition(transform, 0.3s);

                &:hover {
                    transform: scale(1.1);
                }
            }

            a:nth-child(4) img {
                width: 20px;
                transform: translateY(-63px) scale(1.2); 

                @include transition(transform, 0.3s);

                &:hover {
                    transform: translateY(-63px) scale(1.4);
                }
            }
        }
    }
}