@use 'variables' as *;
@use 'mixins' as *;

header {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 2;

    #video-header {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    }

    #logo-tierra {
        position: absolute;
        top: 80px;
        left: 40px;
        font-family: $fuente-secundaria;
        display: flex;
        align-items: center;
        gap: 10px;
        @include transition(transform, 0.3s);
        cursor: pointer;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
        }
    }

    #texto-header {
        padding: 100px;
        @include animation(efecto-neon, 5s, ease-in-out, infinite);

        h1 {
            font-size: 48px;
            margin-bottom: 20px;
        }

        h3 {
            font-family: $fuente-secundaria;
            margin-top: 15px;
        }
    }

    img {
        width: 75px;
        height: 75px;
    }

    #nav-menu {
        position: fixed;
        top: 40px;
        left: 60px;
        background: transparent;
        border: 0;
        cursor: pointer;

        svg {
            width: 32px;
            height: 32px;
            display: block;
        }
    }

}