@use 'variables' as *;

@keyframes efecto-neon {

    0%,
    100% {
        text-shadow:
            0 0 3px $color-neon-dim,
            0 0 3px $color-neon-dim,
            0 0 5px $color-neon-dim,
            0 0 10px $color-neon-cyan,
            0 0 20px $color-neon-cyan;
    }

    50% {
        text-shadow:
            0 0 20px $color-neon-dim,
            0 0 40px $color-neon-dim,
            0 0 40px $color-neon-cyan,
            0 0 40px $color-neon-cyan;
    }
}

@keyframes drift {
    0% {
        transform: translate(-120px, -60px) rotate(-85deg);
        border-radius: 20% 75% 30% 70% / 30% 35% 65% 70%;
    }

    50% {
        transform: translate(480px, 120px) rotate(-15deg);
        border-radius: 70% 30% 35% 65% / 65% 45% 55% 35%;
    }

    100% {
        transform: translate(-120px, -60px) rotate(-85deg);
        border-radius: 20% 75% 30% 70% / 30% 35% 65% 70%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}