@use 'variables' as *;
@use 'mixins' as *;
@use 'keyframes' as *;
@use 'aside' as *;
@use 'footer' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 900;
    color: white;
}

body {
    font-family: $fuente-principal;
    background-color: $color-fondo;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    padding: 80px;

    @include animation(fadeIn, 1s, ease-in-out, 1, forwards);

    &::after {
        position: absolute;
        content: '';
        width: 60vmin;
        height: 60vmin;
        top: 0;
        left: 0;
        background: radial-gradient(circle at 30% 30%, rgba(180, 89, 14, 0.45), rgba(255, 255, 255, 0) 65%);
        filter: blur(10px);
        opacity: 0.7;
        mix-blend-mode: screen;
        @include animation(drift, 25s, ease-in-out, infinite, both);
        pointer-events: none;
        z-index: 1;
    }
    .page-scroll {
        height: 100vh;
        overflow-y: auto;
        background-color: $color-fondo-tarjeta-oscuro;
        border-radius: 20px;
    }
    header {
        position: fixed;
        top: 80px;
        left: 80px;
        z-index: 100;

        @include animation(efecto-neon, 5s, ease-in-out, infinite);

        h1 {
            font-size: 48px;
            margin-bottom: 20px;
        }

        h3 {
            font-family: $fuente-secundaria;
            margin-top: 15px;
        }
        .logo {
            position: relative;
            left: 1540px;
        }
    }

    #nav-menu {
        position: fixed;
        top: 100px;
        left: 100px;
        background: transparent;
        border: 0;
        cursor: pointer;

        svg {
            width: 32px;
            height: 32px;
            display: block;
        }
    }
    main {
        display: flex;
        flex-direction: column;

        article {
            padding: 100px 150px;
            line-height: 2;

            h1 {
                text-align: center;
            }
            img {
                max-width: 800px;
                display: block;
                margin: 40px auto;
            }
        }

        video {
            max-width: 800px;
            display: block;
            margin: 40px auto;
        }
        .navegador {
            display: flex;
            justify-content: center;
            margin: 40px 150px;
            gap: 20px;

            button {
                background-color: transparent;
                border: 0;
                border-radius: 5px;
                padding: 10px;
        
                cursor: pointer;
        
                svg {
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    background-color: darken($color-fondo-tarjeta-claro, 10%);
                }
            }
            span {
                transform: translateY(6px);
            }
        }   
    }
    .logo {
        width: 75px;
        height: 75px;
    }
}