$fuente-principal: 'Inter', sans-serif;
$fuente-secundaria: 'Suez One', serif;

$color-neon-cyan: #00FFFF;
$color-neon-dim: #00CCCC;
$color-semitransparente: rgba(255, 255, 255, 0.5);

$gradiente-noticia-destacada: radial-gradient(circle at center, #D65108 40%, #070617 100%);

$color-fondo-tarjeta-oscuro: rgba(0, 0, 0, 0.6);
$color-fondo-tarjeta-claro: rgba(255, 255, 255, 0.1);

$color-borde-tarjeta: rgba(255, 255, 255, 0.1);
$color-fondo: #0C0A30;